.products{
    max-width:1400px;
    margin:auto;

    display:grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(280px,1fr)
        );

    gap:30px;

    padding:40px 20px 80px;
}

.product-card{

    background:#1b1b1b;

    border:
        1px solid #333;

    border-radius:12px;

    overflow:hidden;

    transition:.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.product-info{
    padding:20px;
}

.product-info h3{
    margin-bottom:10px;
}

.product-price{
    color:#c6a16a;
    font-size:1.2rem;
    font-weight:700;
}

.filters{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;

    gap:10px;

    padding:20px;
}

.filters button{

    border:none;

    padding:10px 20px;

    cursor:pointer;

    background:#242424;

    color:white;

    border-radius:6px;

    transition:.3s;
}

.filters button:hover{
    background:#c6a16a;
    color:black;
}

.search-container{
    text-align:center;
    margin:20px;
}

.search-container input{

    width:min(500px,90%);

    padding:15px;

    background:#1f1f1f;

    color:white;

    border:
        1px solid #333;

    border-radius:8px;
}
