
body {
  background-image: url(https://publicdomainvectors.org/photos/pyramids-of-egypt-publicdomain.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: azure;
}

h1, h3, button {
  font-family: cursive;
  color: red;
}

p1 {
  color: red;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}

table,
tr,
td {
  padding: 50px;
}

.fade-in-text {
  font-family: Arial;
  font-size: 150px;
  animation: fadeIn 5s;
}

button {
  font-size: 30px;
}

button:hover {
  color: white;
  background-color: red;
  font-size: 60px;
  animation: shake 3s infinite;
}

table {
  border-collapse: collapse;
  width: 70px;
}

th {
  height: 70px;
}

#tut {
  font-size: 900px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  15% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, -2px) rotate(-1deg);
  }
  45% {
    transform: translate(0px, -2px) rotate(2deg);
  }
  60% {
    transform: translate(1px, -2px) rotate(0deg);
  }
  75% {
    transform: translate(-1px, 4px) rotate(-3deg);
  }
  90% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
